.movie-card-details-container {
  padding: 20px;
  font-size: 20px;
  letter-spacing: -0.015em;
  margin-bottom: 20px;
}

.movie-card-details-banner-content {
  display: flex;
  justify-content: center;
}

.movie-card-details-banner-content img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.movie-card-details-description-title {
  margin-bottom: 0;
  line-height: 27px;
  font-size: 1em;
}

.movie-card-details-description-year {
  margin-bottom: 0;
  line-height: 22px;
  font-size: 0.8em;
  color: #ffc700;
  font-weight: bold;
}

.movie-card-details-description-subtitle {
  margin-bottom: 15px;
  line-height: 19px;
  font-size: 0.7em;
  font-weight: normal;
}

.movie-card-details-description-synopsis {
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 10px;
  color: #9e9e9e;
  text-align: justify;
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .movie-card-details-container {
    padding: 40px;
  }

  .movie-card-details-description-title {
    font-size: 1.6em;
    line-height: 49px;
  }

  .movie-card-details-description-year,
  .movie-card-details-description-subtitle {
    font-size: 1em;
    line-height: 33px;
  }

  .movie-card-details-description-synopsis {
    line-height: 24px;
    font-size: 0.8em;
    font-weight: normal;
  }
}

@media (min-width: 1200px) {
  .movie-card-details-container {
    display: flex;
  }

  .movie-card-details-banner-content img {
    width: 500px;
    height: 315px;
    margin-right: 40px;    
    margin-bottom: 0;
  }
}
