.movie-container {
  padding: 20px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card-container{
  max-width: 1120px;
}

@media (min-width: 576px) {
  .movie-container {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .movie-container {
    padding: 40px;
  }
}